<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Race Gene</title>
    <link href="css/racegene.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(function () {

    $("#logo").effect("bounce", { times:3 }, 300);
    $("#fblike").fadeIn(500);
});

</script>
<center>
    <div class="layout">
        <div style="float:right;" id="fblike">
            <div style="font-size:15px;font-family: 'Anaheim', sans-serif;color:green;">Like us on Facebook</div>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Race-Gene/304172879685009" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-colorscheme="dark" data-font="lucida grande"></div>
        </div>

        <div>
            <img src="pics/logo.png" id="logo" style="display:none;"/>
        </div>

        <div class="top-grid">
            <% %w[runkeeper].each do |service| %>
                <%= service.capitalize %>
                <span>Focus on runnning, Not plannning!<br/> Experience your race schedule, made simple!</span>

                <div><a href="/auth/singly?service=<%= service %>" style="background-color:green;color:#fff;text-underline:none;"> Sign Up</a></div>
            <% end %>
        </div>

    </div>
</center>

</body>
</html>